.gambar{
  padding: 2px;
  border: 5px solid #949794;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
h1{
  text-align: center;
  padding-bottom: 10px;
  font-size: 30px;
}
p{
  text-align: center;
  font-size: 18px;
  
}
.judul {
  font-size: 40px;
}

.article {
  width: 100%;
  background-color: #248f24; 
  color: white
}
.aktiv {
  background-color: none;
  padding: 5px;
  width: 100%;
  height: 225px; 
}
.article:hover {
  color: black;
  -webkit-transition: all 0.3s ease;
}